
{% extends "layout.html"%}

{% block heading %}{{book.title}}{% endblock%}
{% block error%}{{error}}{% endblock %}
{% block body %}
	{% if book == None %}
	<h4>Book doesn't exists</h4>
	{% else %}

	<div>
	<div class="row p-2" style="background-color:#efefef">
		<div class="col-6">
		<table>
			<tr><td class="font-weight-bold">ID</td><td>{{book.id}}</td></tr>
			<tr><td class="font-weight-bold">Title</td><td>{{book.title}}</td></tr>
			<tr><td class="font-weight-bold">Author</td><td>{{book.author}}</td></tr>
			<tr><td class="font-weight-bold">Year</td><td>{{book.year}}</td></tr>
			<tr><td class="font-weight-bold">ISBN</td><td>{{book.isbn}}</td></tr>
		</table>
		{% if entry != None %}
		<div class="mt-2">
		<h5>Book rating on Goodreads</h5>
		<p>
		Ratings count: {{entry.work_ratings_count}} Average rating: {{entry.average_rating}}/5
		</p>
		</div>
		{% endif %}
		</div>
		<div class="col-6">
			<div>
				<form action="{{ url_for('addReview', id=book.id) }}" method="post">
					<textarea class="form-control" name="review" rows="5" placeholder="Type Your review here"></textarea>
					<div class="form-check-inline">
					<strong>Rate the book:</strong>
					</div>
					<div class="form-check-inline">
						<label for="one" class="form-check-label">
						<input type="radio" class="form-check-input" id="one" name="rating" value="1">
						1</label>
					</div>
					<div class="form-check-inline">
						<label for="one" class="form-check-label">
						<input type="radio" class="form-check-input" id="two" name="rating" value="2">
						2</label>
					</div>
					<div class="form-check-inline">
						<label for="one" class="form-check-label">
						<input type="radio" class="form-check-input" id="three" name="rating" value="3">
						3</label>
					</div>
					<div class="form-check-inline">
						<label for="one" class="form-check-label">
						<input type="radio" class="form-check-input" id="four" name="rating" value="4">
						4</label>
					</div>
					<div class="form-check-inline">
						<label for="one" class="form-check-label">
						<input type="radio" class="form-check-input" id="five" name="rating" value="5" checked>
						5</label>
					</div>
					<button class="btn btn-primary">Add Reivew</button>
				</form>
			</div>
		</div>
	</div>
	
	<div  class="mt-5">
	<h4>User Reviews</h4>
	{% if reviews == None %}
	<h4>No user reviews</h4>
	{% else %}
		<ul>
		{% for review in reviews %}
			<li>{{review.review}} <br>Rating: {{review.rating}} by {{review.username}}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</div>
	</div>
	
	{% endif %}
{% endblock%}