
{% extends "layout.html"%}

{% block heading %}Book review{% endblock%}
{% block body %}
<p>
	{% if 'user_name' in session.keys() %}
		<form action="{{ url_for('find')}}" method="post">
		<input type="text" name="term" placeholder="Enter ISBN, tile or author name">
		<button>Search</button>
	</form>
		<a href="{{ url_for('logout')}}">Logout</a>
	{% else %}
	{% if error != None or error != "" %}
	<h5 style="color:red;">{{error}}</h5>
	{% endif %}
	<form action="{{ url_for('login')}}" method="post">
		<input type="text" name="name" placeholder="Enter Your name">
		<input type="password" name="password" placeholder="Enter Your password">
		<button>Login</button>
	</form>
	<a href="{{ url_for('register')}}">Register</a>
	{%endif%}
</p>
{% endblock%}