<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<title>{% block title%}{% endblock %}Book Review</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="main">
<div class="header" >
<div class="logo text-center font-weight-bold align-middle">BR</div>
<div class="title font-weight-bold">Book review</div>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{url_for('index')}}">Home</a>
    </li>
  </ul>
</nav>
{% if 'user_name' in session.keys() %}
<div style="float:right;">Hello {{session['user_name']}}! <a href="{{ url_for('logout')}}">Logout</a></div>
{% endif %}
<div class="page_title">
<h3>{% block heading%}{% endblock %}</h3>
</div>
	{% if error != None %}
	<div class="alert alert-danger">Error: {{error}}</div>
	{% endif %}
	{% block body%}
	{% endblock %}
</div>
</body>
</html>